/*Обнуление*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

a {
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*--------------------*/

@font-face {
  font-family: "Neucha";
  font-weight: 400;
  font-style: normal;
  src: url(../fonts/Neucha-Regular.ttf);
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-VariableFont_wdth\,wght.ttf");
}

/* .neucha-regular {
  font-family: "Neucha", cursive;
  font-weight: 400;
  font-style: normal;
} */

:root {
  --white: #fff;
  --white50: #d7ccc0;
  --light: #f5f4f0;
  --main-color: #fe8a02;
  --primaty-dark: #42413c;
  --dark: #2a2626;
  --dark50: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  color: var(--dark);
}

h1, h2, h3 {
  line-height: 1.2em;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}


/* .....................HEADER....................... */


.background-img {
  position: relative;
}

.background-img::before {
  content: '';
  position: absolute;
  left: 65px;
  top: 0;
  width: 100%;
  height: 100%;
  background: url(../img/background-pattern.png);
  opacity: 90%;
  background-repeat: no-repeat;
  background-size: contain;
}

.container {
  margin: 0 auto;
  max-width: 1110px;
  padding: 98px 165px;
}

/* .header__container {
  margin-bottom: 185px;
} */
.header__heading {
margin-bottom: 200px;
}

.header__title {
  /* margin-bottom: 185px; */
  font-weight: 400;
  font-family: "Neucha", cursive;
  color: var(--dark);
}

.main-color {
  /* line-height: 86.4px; */
  color: var(--main-color);
}

.header__image {
  position: absolute;
  max-height: 525px;
  top: 55px;
  right: 0;
  z-index: -1;
}

.text {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.header__text {
  max-width: 540px;
}

.text-flex {
  display: flex;
  flex-direction: column;
}

/* .flex {
  display: flex;
  flex-direction: column;

} */

.header__text-description {
  /* width: 100%; */
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 25.6px;
}

.text-top {
  margin-bottom: 15px;
}

.text-bottom {
  margin-bottom: 42px;
}

.btn {
  padding: 12px 24px;
  width: 100px;
  cursor: pointer;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  background-color: var(--main-color);
  color: var(--light);
}


/* ..............Video........................ */
.video {
  margin: 0;
  padding: 0;
}

.video__container {
  position: relative;
  height: 714px;
  padding-bottom: 0;
}

.video__title {
  margin-bottom: 30px;
  font-family: "Neucha";
  font-size: 60px;
  font-weight: 400;
  line-height: 72px;
  text-align: center;
}

.video__description {
  margin-bottom: 30px;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 25.6px;
  text-align: center;
}

.video__block{
  position: absolute;
  /* display: flex; */
  bottom: -315px;
  left: 50%;
  transform: translate(-50%, -50%);
  /* margin-left: auto;
  margin-right: auto; */
  width: 982px;
  height: 543px;
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
}

/* .preview-link {
  width: 100%;
} */

.preview-image {
  max-width: 100%;
}

/* ................NAVIGATION............... */

.nav__container {
  padding-top: 0;
  padding-bottom: 0;
  background-color: var(--primaty-dark);
}

.nav {
  min-height: 992px;

}

.nav__list {
  padding-top: 200px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.nav__list-item {
  /* margin: 0 30px 20px 0; */
  padding: 24px;
  width: 302px;
  height: 275px;
  background-color: var(--light);
}

.nav__list-item:first-child {
  padding: 0;
  width: 350px;
  height: 323px;
  background-color: transparent;
}

/* .nav__list-item:nth-child(3n) {
  margin-right: 0;
} */

.h-348 {
  height: 300px;
}

.nav-title {
  font-family: "Neucha";
  font-size: 52px;
  font-weight: 400;
  line-height: 62.4px;
  color: var(--white);
}

.card-number {
  margin-bottom: 40px;
  font-family: "Neucha";
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
  color: var(--primaty-dark);
}

.card-title {
  margin-bottom: 16px;
  font-family: "Neucha";
  font-size: 34px;
  font-weight: 400;
  line-height: 40.8px;
  color: var(--main-color);
}

.mb-12 {
  margin-bottom: 12px;
}

.card-description {
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 25.6px;
  color: var(--dark);
}

/* ......................IKEA................... */

.section-top {
  display: flex;
  gap: 30px;
}

.section-img {
  z-index: 1;
}

.section-image {
  vertical-align: middle;
  box-shadow: 0px 16px 32px 0px #00000026;
}

.section-text {
  font-family: "Neucha";
  font-size: 24px;
  font-weight: 400;
  line-height: 28.8px;
  color: var(--dark50);
}

.section-title {
  margin-bottom: 30px;
  font-family: "Neucha";
  font-size: 60px;
  font-weight: 400;
  line-height: 72px;
}

.section-description {
  font-family: "Neucha";
  font-size: 34px;
  font-weight: 400;
  line-height: 40.8px;
}

.section-bottom {
  padding-top: 100px;
}

.section-bottom-title {
  margin-bottom: 22px;
  padding-left: 10px;
  height: 26px;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  font-family: "Open Sans";
  text-transform: uppercase;
  color: var(--white);
  background-color: var(--brown);
}

.section-bottom-text {
  display: flex;
  gap: 30px;
}

.ikea-bottom-description {
  max-width: 540px;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 25.6px;
  color: var(--dark);
}

/* .................Premature Optimization............ */

.premature-optimization__container {
  background-color: var(--brown);
}

.wh50 {
  color: var(--white50);
}

.white {
  color: var(--white);
}

.color-brown {
    color: var(--brown);
    background-color: var(--white);
}
